infra/terraform/environments/production/terraform.*
infra/terraform/environments/production/.terraform*

infra/terraform/environments/dev/terraform.*
infra/terraform/environments/dev/.terraform*

infra/terraform/environments/staging/terraform.*
infra/terraform/environments/staging/.terraform*

infra/terraform/code
infra/terraform/frontend-code
.gitignore